@media (max-width: 800px) {

    .banner img {
        display: block;
        height: 300px;
        width: 225px;
        margin-right: 10%;
    }

    .info {
        height: 263px;
        position: relative;
    }

    .info h2 {
        font-size: 25px;
        white-space: normal;
        line-height: 1.35px;
        color: lightgrey;
    }

    .contacts ul a {
        text-decoration: none;
        font-size: 23px;
        margin-right: 35px;
        color: lightgrey;
    }

}

@media (max-width: 700px) {

    .navBar {
        z-index: 100;
        display: flex;
        position: -webkit-sticky;
        position: sticky;
        top: -1px;
        height: 25px;
        padding: 10px 0px 10px 0px;
        background-color: white;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.5);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(15px);
        align-items: center;
    }

    .name {
        margin-top: 0px;
        position: absolute;
        left: 20px;
        background-color: transparent;
    }

    .name li {
        list-style: none;
        display: inline-block;
        background-color: transparent;
    }
    
    .name a {
        color: black;
        text-decoration: none;
        font-size: 16px;
        font-weight: bolder;
        background-color: transparent;
    }

    .navButtons {
        flex: 1;
        position: absolute;
        right: 10px;
        background-color: transparent;
        
    }

    .navButtons ul {
        margin-right: 10px;
        display: inline;
        background-color: transparent;
    }

    .navButtons ul li {
        list-style: none;
        display: inline-block;
        padding: 0px 0px 0px 15px;
        background-color: transparent;
    }

    .navButtons ul a {
        color: black;
        text-decoration: none;
        font-size: 16px;
        background-color: transparent;
    }

    .firstPage {
        padding-top: 8vh;
        height: 100vh;
        min-height: 550px;
        background-size: cover;
        overflow-x: hidden;
        overflow-y: hidden;
        margin-top: 0px;
        width: 100%;
        display: inline-block;
        align-items: center;
        align-content: center;
   
    }

    #banner1, #banner2 {
        float: left;
        width: 100%;
    
    }

    .banner {
        top: 0;
        display: flex;
        justify-content: center;
        
    }
    
    .banner img {
        display: flex;
        max-height: 300px;
        max-width: 225px;
        height: auto;
        width: auto;
        margin-right: 0%;
        margin-left: 2px;
    
    }

    .info {
        top: -20px;
        height: 150px;
        position: relative;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    
    .intro {
        display: none;
    }

    .mobileIntro {
        display: block;
    }

    .mobileIntro h1 {
        background: linear-gradient(135deg,#4896C1,#62BECE,#4896C1);
        background: -webkit-linear-gradient(135deg,#4896C1,#62BECE,#4896C1);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 52px;
    }

    .contacts {
        margin-left: 20px;
        left: 0px;
        position: absolute;
        bottom: 0px;
        display: flex;
        flex: 1;
        width: 100%;
        
    }

    .contacts ul {
        display: inline;
        width: 100%;
    }
    
    .contacts ul a {
        text-decoration: none;
        font-size: 23px;
        margin-right: 42px;
        color: lightgrey;
    }
    
    .contacts ul li {
        list-style: none;
        display: inline-block;
    }

    .scrollIndicator {
        float: left;
        width: 100%;
        position: relative;
        text-align: center;
        justify-content: center;
        display: block;
        transition: 0.2s;
    }
    
    .scrollIndicator a {
        top: 7vh;
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        padding: 0px 0px 0px 0px;
        position: absolute;
        font-size: 30px;
        color: #4896C1;
        transition: 0.2s;
    }
}